<div class="attack">
    <div class="adjust">
        <button mat-icon-button aria-label="remove ap" class="adjust-button" (click)="removeAttackAp()"
            [disabled]="removeAttackDisabled()">
            <mat-icon>remove</mat-icon>
        </button>
        <div class="player" [ngStyle]="{'background-color': user.color}">
            <mat-icon aria-hidden="false" aria-label="user ap" [matBadge]="afterAttackUserAp()">stars</mat-icon>
        </div>
        <mat-icon aria-hidden="false" aria-label="attack" color="warn" [matBadge]="attackAp" class="attack-icon">mediation
        </mat-icon>
        <div class="player" [ngStyle]="{'background-color': target.color}">
            <mat-icon aria-hidden="false" aria-label="target hp" [matBadge]="afterAttackTargetHp()">favorite</mat-icon>
        </div>
        <button mat-icon-button aria-label="add ap" class="adjust-button" (click)="addAttackAp()"
            [disabled]="addAttackDisabled()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="confirm">
        <mat-slider aria-label="confirm attack" min="0" max="100" step="1" (change)="onConfirmAttack($event)"
            [value]="attackConfirmValue">
        </mat-slider>
        <mat-icon aria-hidden="false" aria-label="attack" color="warn">mediation</mat-icon>
    </div>
</div>
<div class="transfer">
    <div class="diagram">
        <button mat-icon-button aria-label="remove ap" class="adjust-button" (click)="removeTransferAp()"
            [disabled]="removeTransferDisabled()">
            <mat-icon>remove</mat-icon>
        </button>
        <div class="player" [ngStyle]="{'background-color': user.color}">
            <mat-icon aria-hidden="false" aria-label="user ap" [matBadge]="afterTransferUserAp()">stars</mat-icon>
        </div>
        <mat-icon aria-hidden="false" aria-label="transfer to">arrow_forward</mat-icon>
        <div class="player" [ngStyle]="{'background-color': target.color}">
            <mat-icon aria-hidden="false" aria-label="target ap" [matBadge]="afterTransferTargetAp()">stars</mat-icon>
        </div>
        <button mat-icon-button aria-label="add ap" class="adjust-button" (click)="addTransferAp()"
            [disabled]="addTransferDisabled()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="confirm">
        <mat-slider aria-label="confirm transfer" min="0" max="100" step="1" (change)="onConfirmTransfer($event)"
            [value]="transferConfirmValue">
        </mat-slider>
        <mat-icon aria-hidden="false" aria-label="transfer" color="accent">check</mat-icon>
    </div>
</div>


