.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.player{
        box-sizing: border-box;
        padding: 15px;
        display: inline-block;
}
.confirm, .adjust {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.adjust-button {
    margin-left: 20px;
    margin-right: 20px;
}
.attack,
.transfer {
    margin: 20px 5px;
    box-sizing: border-box;
    padding: 5px;
    border: solid gray 1px;
    border-radius: 2px;
}
.transfer {
    .diagram {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}
