h1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    .target{
        width: 20px;
        height: 20px;
        display: inline-block;
    }
}
.confirm, .adjust {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.confirm {
    margin-top: 20px;
}

.adjust {
    margin-top: 40px;
    .adjust-button {
        margin-left: 20px;
        margin-right: 20px;
    }
}