h1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    .target{
        width: 20px;
        height: 20px;
        display: inline-block;
    }
}
.attack {
    margin: 20px 5px;
    box-sizing: border-box;
    padding: 5px;
    border: solid gray 1px;
    border-radius: 2px;
    .confirm, .adjust {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .adjust {
        .adjust-button {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
