<div class="header">
    <div class="target" [ngStyle]="{'background-color': target.color}">
        <mat-icon aria-hidden="false" aria-label="target hp" [matBadge]="target.hp">favorite</mat-icon>
    </div>
</div>
<div class="attack">
    <div class="adjust">
        <button mat-icon-button aria-label="remove ap" class="adjust-button" (click)="removeAttackAp()"
            [disabled]="removeAttackDisabled()">
            <mat-icon>remove</mat-icon>
        </button>
        <mat-icon aria-hidden="false" aria-label="ap" [matBadge]="attackAp" matBadgeColor="warn">stars</mat-icon>
        <button mat-icon-button aria-label="add ap" class="adjust-button" (click)="addAttackAp()"
            [disabled]="addAttackDisabled()">
            <mat-icon>add</mat-icon>
        </button>
        </div>
        <div class="confirm">
        <mat-slider aria-label="confirm" min="0" max="100" step="1" (change)="onConfirmChange($event)" [value]="confirmValue">
        </mat-slider>
        <mat-icon aria-hidden="false" aria-label="attack" color="warn">mediation</mat-icon>
    </div>
</div>


