:host {
  display: block;
  box-sizing: border-box;

  .border-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    .container {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    &.is-user {
      border: dotted green 5px;
    }
  }  
}
