:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  .container {
    max-width: 95%;
    max-height: 95%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .debug {
    background-color: gray;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
  }
}
